{% extends 'base.html' %}
{% block title %}Services{% endblock title %}

{% block body %}

<div class="container-fluid px-0 ">

  <img src="/static/img/4gjU.gif" class="d-block w-100" id="ser" alt=".." width="1600px" height="500px"
    animation: rotate 1s, spin 3s;>
  <div class="carousel-caption d-none d-md-block" id="text2">
    <h5>
      <span style="font-size: 35pt" lang="ar-sa">Our Ice creams Flavours ... </span>
    </h5>
  </div>
  <style>
    #text2 {
      padding-bottom: 278px;
      padding-left: 30px;
    }
    body{
      background-image: url("/static/img/bb.jpg");
      background-color: #cccccc;
    }

    #ser {
      filter: brightness(50%);
    
      
    }

      {
      % comment %
    }

    /* Blur-zoom Container */
      {
      % endcomment %
    }
  </style>
<div class="container px-3">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 my-3">

     <div class="col">
          <div class="card shadow-sm">
          <div class="icc">
            <img src="/static/img/s1.jpg" class="imagecolumn" id="imagecolumn" alt="Ice cream" ></div>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> {% endcomment %}
                </div>
                {% comment %} <small class="text-muted">9 mins</small> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
    <div class="col ">
      <div class="card shadow-sm">
       <div class="icc">
        <img src="/static/img/s2.jpg" class="img-hover-zoom--slowmo" id="imagecolumn" alt="Ice cream" width="439px"
          height="297px"></div>
        <style>
          #imagecolumn {
            width: 439px;
            height: 297px;
          }
        </style>
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> {% endcomment %}
            </div>
            {% comment %} <small class="text-muted">9 mins</small> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
    <style>
      #imagecolumn {
        width: 439px;
        height: 297px;
      }
    </style>
  
   <div class="col">
          <div class="card shadow-sm">
          <div class="icc">
            <img src="/static/img/s3.jpg" class="imagecolumn" id="imagecolumn" alt="Ice cream" ></div>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> {% endcomment %}
                </div>
                {% comment %} <small class="text-muted">9 mins</small> {% endcomment %}
              </div>
            </div>
          </div>
        </div>


        <div class="col">
          <div class="card shadow-sm">
          <div class="icc">
            <img src="/static/img/s4.jpg" class="imagecolumn" id="imagecolumn" alt="Ice cream" ></div>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> {% endcomment %}
                </div>
                {% comment %} <small class="text-muted">9 mins</small> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
    <style>
      .icc {
        height: 300px;
        /* [1.1] Set it as per your need */
        overflow: hidden;
        /* [1.2] Hide the overflowing of child elements */
      }

      /* Slow-motion Zoom Container */

      .icc img {
        transition: transform .5s ease;
      }

      /* The Transformation */
      .icc:hover img {
        transform: scale(1.5);
      }
    </style>
    <div class="col ">
      <div class="card shadow-sm">
       <div class="icc">
        <img src="/static/img/s5.jpg" class="img-hover-zoom--slowmo" id="imagecolumn" alt="Ice cream" width="439px"
          height="297px"></div>
        <style>
          #imagecolumn {
            width: 439px;
            height: 297px;
          }
        </style>
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> {% endcomment %}
            </div>
            {% comment %} <small class="text-muted">9 mins</small> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
    <style>
      #imagecolumn {
        width: 439px;
        height: 297px;
      }
    </style>
  
   <div class="col">
          <div class="card shadow-sm">
          <div class="icc">
            <img src="/static/img/s6.jpg" class="imagecolumn" id="imagecolumn" alt="Ice cream" ></div>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> {% endcomment %}
                </div>
                {% comment %} <small class="text-muted">9 mins</small> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
         <div class="col">
          <div class="card shadow-sm">
          <div class="icc">
            <img src="/static/img/ice1.jfif" class="imagecolumn" id="imagecolumn" alt="Ice cream" ></div>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> {% endcomment %}
                </div>
                {% comment %} <small class="text-muted">9 mins</small> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
    <div class="col ">
      <div class="card shadow-sm">
       <div class="icc">
        <img src="/static/img/ice2.jfif" class="img-hover-zoom--slowmo" id="imagecolumn" alt="Ice cream" width="439px"
          height="297px"></div>
        <style>
          #imagecolumn {
            width: 439px;
            height: 297px;
          }
        </style>
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> {% endcomment %}
            </div>
            {% comment %} <small class="text-muted">9 mins</small> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
    <style>
      #imagecolumn {
        width: 439px;
        height: 297px;
      }
    </style>
  
   <div class="col">
          <div class="card shadow-sm">
          <div class="icc">
            <img src="/static/img/ice3.jfif" class="imagecolumn" id="imagecolumn" alt="Ice cream" ></div>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
  
</div>

{% comment %} -------------COlumn---------------------------------- {% endcomment %}
 <form method="post" action="/servicess"> 
  {% csrf_token %}
<div class="container py-4">
  <div class="col-md-6">
    <label for="flavour" class="form-label">Flavour</label>
    <input type="flavour" class="form-control" id="flavour" name="flavour" placeholder="Your Flavour">
    
  </div>

  <div class="col-md-6 py-6">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
  </div>

   <div class="col-md-6 my-3">
    <label for="phone" class="form-label">Phone number</label>
    <input type="phone" class="form-control" id="phone"  name="phone" placeholder="Enter Your Number">
  </div>

 <div class="col-md-6 my-3">
									<div class="form-group">
										<textarea name="message" id="message" cols="30" rows="7" class="form-control" placeholder="Your requirements"></textarea>
									</div>
  </div>
  <button type="submit" class="btn btn-danger">Submit</button>
  </div>
  </form>



  {% endblock body %}